body {
  min-height: 75rem;
  padding-top: 4.5rem;
}


li {
position: relative;}

li:before {
  content: '•••';
  position: absolute;
  right: 1px;
  top: 0px;
  color: aqua;
}

/* only for debugging */
#navbarCollapse {
    display: block;
}