{% extends 'base.html' %}
{% block content %}
<p style="text-align: center; font-weight: bold; font-size: large;">Welcome To My Blog</p>
    {% for post in posts %}
    <article class="media content-section">
      <img style="height: 100px; width: 200px; border-radius:40%" src="{{ url_for('static', filename='images/' + post.author.image_file) }}">
        <div>
          <div class="article-data">
            <a class="mr-2" href="#">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
          </div>
          <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    {%endfor%}
{% endblock content %}
