{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="row">
 <div class="col-md-10 offset-md-1">
<div class="row">
<div class="col-md-10 main-left" >
    <article class="media content-section">
   <img class="square my-4  account-img animated rollIn" style="width: 100px; height: 100px; border-radius:20%%" src=" {{url_for('static', filename='images/' + post.author.image_file)}} " alt="">
     <div class="media-body">
       <small class="text-muted">{{ post.date_posted.strftime('%Y/%m/%d, %H:%M') }}</small>
        {% if post.author == current_user %}
            <div>
            <a class="btn btn-secondary" href="{{ url_for('update_post', post_id = post.id) }}">Update</a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                <div class="article-metadata">
                <a  href="#">{{ post.author.username }}</a>
             </div>
                {% endif %}                            </div>
            </div>
             <div class="col-md-4 text-right">                    
             <h2 class="article-title">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            </div>
         </article> 
    </div>
</div>
        </div>
    </div>
</div>
<div  id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-content">
        <div class="header">
          <h5 class="title" id="deleteModalLabel">Delete Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
        <h2 class="animated bounce infinite">Are you sure you want to delete this post? Remeber you can't undo the action!</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary animated fadeInRight" data-dismiss="modal">Close</button>
          <form action=" {{ url_for('delete_post', post_id=post.id) }} " method="POST">
              <input class="btn btn-danger animated fadeInLeft" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}